*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: black;
}

.wrapper{
    margin:0 auto; 
    max-width:1680px;
}

.full_bg {
    padding-top:10.8%; 
    position:relative
}
.full_bg >img {
    position:absolute; 
    left:0; 
    top:15%;
    width:100%; 
    height:auto; 
}
