*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: black;
}

html{height: 100%;}
body{
    height: 100%;
    overflow: hidden;
}

.container{
    margin:0 auto; 
    max-width:100%;
    background-size: contain;
}

.full_bg {
    padding-top:56.25%; 
    position:relative
}
img {
    position:absolute; 
    left:0; 
    top:0;
    width:100%; 
    height:100%; 
}
